.poster{
    width: 100%;
}
.conteudo{
    text-align: center;
}

.anno{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: -10px;
}

ion-icon {
  color: yellow;
}

.p1{
    color: #A70099;
    font-size: 700;
}