<ion-content scrollEvents="true" (ionInfinite)="loadMoreSeries($event)">
  <div>
    <ion-toolbar>
      <ion-searchbar (ionChange)="onSearch($event)" placeholder="Pesquisar"></ion-searchbar>
    </ion-toolbar>
  </div>

  <ion-item>
    <ion-select (ionChange)="onFilterChange($event)" placeholder="Filtrar por">
      <ion-select-option value="Anno">Ano</ion-select-option>
      <ion-select-option value="ordine alfabetico">Ordem alfabética</ion-select-option>
      <ion-select-option value="classificazione">Classificação</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let serie of filteredSeries">
      <ion-card>
        <ion-card-content>
          <img [src]="serie.Poster" alt="Serie Poster">
          <p>{{ serie.Title }}</p>
          <p>{{ serie.Year }}</p>
          <p>{{ serie.Rated }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreSeries($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais séries...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
