<ion-header>
  <ion-toolbar>
    <ion-title>{{ movie?.Title }}</ion-title> 
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Chiudi</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding conteudo">
  <img [src]="movie?.Poster" alt="Movie_Poster" class="poster"> 
  <div class="anno">
  <p><ion-icon name="star"></ion-icon> {{ movie?.imdbRating }}</p> 
  <p>{{ movie?.Year }}</p> 
  </div>
  <p class="p1">Genere</p>
  <p>{{ movie?.Genre }}</p> 
  <p>{{ movie?.Plot }}</p> 
  <p class="p1">Direttore</p>
  <p>{{ movie?.Director }}</p>
  <p class="p1">Attori</p>
  <p>{{ movie?.Actors }}</p>
</ion-content>