<ion-header>
  <ion-toolbar>
    <ion-title>{{ movie?.Title }}</ion-title> <!-- Exibe o título do filme no header do modal -->
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img [src]="movie?.Poster" alt="Movie Poster"> <!-- Exibe o pôster do filme -->
  <p>Year: {{ movie?.Year }}</p> <!-- Exibe o ano do filme -->
  <p>Rated: {{ movie?.Rated }}</p> <!-- Exibe a classificação do filme -->
  <p>Genre: {{ movie?.Genre }}</p> <!-- Exibe o gênero do filme -->
  <p>Plot: {{ movie?.Plot }}</p> <!-- Exibe a sinopse do filme -->
</ion-content>