<ion-header [translucent]="true">
  <ion-toolbar>
  <img src="../../assets/PopFlix2.png" alt="Logo_image" class="center-image">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="film">
      Film
    </ion-segment-button>
    <ion-segment-button value="serie">
      Serie
    </ion-segment-button>
  </ion-segment>

  <!-- Conteúdo dinâmico baseado na seleção do segmento -->
  <div *ngIf="selectedSegment === 'film'">
    <app-film-component></app-film-component>
  </div>

  <div *ngIf="selectedSegment === 'serie'">
    <app-serie-component></app-serie-component>
  </div>
</ion-content>
